# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# keys and secrets (NOONE CAN SEE)
app/keys/key_calenderific.txt
app/keys/key_googlemaps.txt
app/keys/spoonacular.txt
app/keys/key_unsplash.txt

# environment variables
.env

# SQLite database
app/site.db

# virtual environment
venv/
