# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# keys and secrets (NOONE CAN SEE)
app/keys/

# environment variables
.env

# SQLite database
app/site.db
thread.db

# virtual environment
venv/
