# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# keys and secrets (NOONE CAN SEE)
app/keys/*
!app/keys/.gitkeep

# environment variables
.env

# SQLite database
app/site.db

# virtual environment
venv/
